Mouse_Adult_DGE.h5ad filter=lfs diff=lfs merge=lfs -text
V1_Mouse_Kidney filter=lfs diff=lfs merge=lfs -text
C:Users64593Desktoppaperinputdata_celltrek_kidney.h5ad filter=lfs diff=lfs merge=lfs -text
